@charset "utf-8";
/* CSS Document */

.wrap-all{
	width: 100%;
	height: auto;
	font-family: 'Raleway', sans-serif;
}

.wrap-header{
	width: 100%;
	height: auto;
	background-image: url("background.jpg");
	background-repeat: repeat;
}

#header .top{
	width: 1170px;
	height: 100px;
	margin: auto;
	border-bottom: 1px solid #505369;
}

#header .bottom{
	width: 1170px;
	height: 650px;
	margin: auto;
}

#header .logo{
	padding-top: 35px;
	float: left;
}

#header .gnav-list a{
	float: right;
	font-size: 13px;
	font-weight: bold;
	margin-right: 55px;
	margin-top: 45px;
	color: #ffffff;
	text-decoration: none;
}

#header .gnav-list a:hover{
	text-decoration: underline;
	text-decoration-color: #a3a3a8;
	color: #a3a3a8;
}

#header .gnav-list a:first-child{
	margin-right: 0;
}

#header .bottom{
	text-align: center;
	color: #ffffff;
}

#header .ttl{
	font-size: 65px;
	padding-top: 155px;
	line-height: 75px;
	font-weight: bold;
}

#header .desc{
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 65px;
}

#header .btn{
	width: 200px;
	height: 46px;
	background-color: #e84545;
	margin: auto;
}

#header .btn p{
	padding-top: 12px;
}

#header .bottom a{
	text-decoration: none;
	color: #ffffff;
}

#header .btn:hover{
	opacity: 0.7;
	text-decoration: underline;
}

.wrap-ct1{
	width: 100%;
	height: auto;
}

.content01{
	width: 1170px;
	height: 690px;
	margin: auto;
}

#ct01 .box{
	width: calc(100%/3 - 20px);
	height: 200px;
	margin-left: 15px;
	float: left;
	margin-top: 100px;
	text-align: center;
}

#ct01 img{
	margin-top: 10px;
}

#ct01 .title{
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px; 
}

#ct01 .desc{
	font-size: 14px;
	margin-top: 15px;
	line-height: 20px;
}

.wrap-ct2{
	width: 100%;
	height: auto;
	margin: auto;
}

#ct02 .container {
  	position: relative;
  	width: 25%;
	height: auto;
  	float: left;
	display: flex;
}

#ct02 .image {
  	width: 100%;
	overflow: hidden;
	vertical-align: middle;
    border-style: none;
    position: relative;
	height: 350px;
}

#ct02 .overlay {
  	position: absolute; 
  	bottom: 0; 
  	background: rgba(232, 69, 69, 0.9);
  	color: #f1f1f1; 
  	width: 100%;
	height: calc(100% - 130px);
  	transition: .5s ease;
  	opacity:0;
  	font-size: 20px;
  	padding-top: 130px;
  	text-align: center;
}

#ct02 .container:hover .overlay {
  	opacity: 1;
}

.wrap-ct3{
	width: 100%;
	height: 580px;
}

.content03{
	width: 1170px;
	height: 580px;
	margin: auto;
	margin-top: 100px;
}

.profile01, .profile02, .profile03, .profile04{
/*	width: 270px;*/
	width: 23%;
	height: 580px;
	margin-left: 30px;
	float: left;
	margin-bottom: 100px;
}

.profile01{
	margin-left: 0;
}

.name{
	font-size: 22px;
	margin-top: 15px;
	color: #2d3033;
}

.name-ttl{
	font-size: 13px;
	color: #e84545;
}

.desc-name{
	font-size: 14px;
	color: #6c7279;
	margin-top: 15px;
	line-height: 20px;
}

.sosmed{
	margin-top: 25px;
}

.sosmed a{
	float: left;
	margin-left: 5px;
}

.sosmed a:first-child{
	margin-left: 0;
}

.wrap-ct4{
	width: 100%;
	height: 500px;
	margin-top: 100px;
}
.left-side, .right-side{
	width: 50%;
	flex: 0 0 50%;
	position: relative;
}

.left-side{
	overflow: hidden;
}

.slideLeft{
	animation-name: slideleft;
	animation-duration: 1s;
}

.women_photo img{
	height: 100%;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    border-style: none;
    position: relative;
}

.wrap_photo{
	width: 100%;
    overflow: hidden;
    height: 100%;
}

.wrapper-slideshow{
	width: 100%;
	flex-direction: row;
	position: absolute;
	display: flex;
}
	
.slideshow-image{
	width: 49%;
	height: auto;
}

.slideshow-image img{
	width: 100%;
	height: 100%;
	display: block;
}
	
.slideshow-container {
	width: 51%;
	height: auto;
  	background: #53354a;
}

.mySlides {
 	padding: 70px 80px 0 55px;
	display: none;
}

.dot-container {
    text-align: center;
    padding: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

q {
	font-style: italic;
	font-size: 24px;
	color: #ffffff;
	text-align: left;
}

.author {
	color: #ffffff;
	font-size: 13px;
	margin-top: 10px;
	text-align: left;
}

.wrap-ct5{
	width: 100%;
}

.content5{
	width: 1170px;
	height: 340px;
	margin: auto;
	text-align: center;
}

.campaign-text{
	font-size: 28px;
	padding-top: 100px;
}

.campaign-desc{
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
}

.btn-sbm{
	width: 280px;
	height: 46px;
	background-color: #e84545;
	margin: auto;
	margin-top: 40px;
	text-decoration: none;
}

.content5 a{
	text-decoration: none;
}

.btn-sbm:hover{
	opacity: 0.7;
	text-decoration: underline;
	text-decoration-color: #ffffff;
}

.btn-sbm p{
	padding-top: 15px;
	color: #ffffff;
	text-decoration: none;
}

.footer-area01{
	width: 100%;
	height: 250px;
	background-color: #3a3e64;
}

.footer-ct01{
	width: 1170px;
	height: 250px;
	margin: auto;
	text-align: center
}

.location, .share{
	width: 170px;
	height: 115px;
	float: left;
	margin-top: 60px;
}

.about{
	width: 370px;
	height: 115px;
	float: left;
	margin-top: 60px;
}

.location{
	margin-left: 100px;
}

.share{
	margin-left: 230px;
}

.about{
	margin-left: 130px;
}

.ttl-head{
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 10px;
}

.head-desc{
	font-size: 14px;
	color: #ffffff;
	margin-top: 15px;
	line-height: 20px;
}

.share img{
	margin-top: 15px;
}

.footer-ct02{
	width: 100%;
	height: 94px;
	background-color: #313454;
	text-align: center;
}

.footer-ct02 img{
	margin-top: 25px;
}

.show-image{
	width: 50%;
}

#ct02 .box{
	height: 700px;
}

@media (max-width: 1170px){
	.wrap-ct2, .wrap-header, .wrap-ct4, .wrapper-slideshow, .footer-area01{
		width: 1170px;
	}
}

@media screen and (min-width: 1081px){
	#sp-1080, #sp-768, .sp-320{
		display: none;
	}
}

@media screen and (max-width: 1080px){
	#pc{
		display: none;
	}
	.wrap-ct05{
		margin-top: 100px;
	}
	#ct02 .image{
		height: 300px;
	}
	
	.content03{
		margin-top: 0;
	}
	
	#ct02 .overlay {
		height: calc(100% - 130px);
  		padding-top: 130px;
	}
	
	#sp-768{
		display: none;
	}
	.sp-320{
		display: none;
	}
}

@media screen and (max-width: 768px){
	#ct01 .box{
		width: calc(50% - 20px);
	}
	
	#ct02 .container{
		width: 50%;
	}
	
	.wrap-ct1{
		height: 1000px;
	}
	
	.wrap-ct2 {
		height: 1400px;
	}
	
	.profile01, .profile02, .profile03, .profile04{
		width: 46%;
		text-align: center;
	}
	
	.wrap-ct3{
		height: 1700px;
	}
	
	.sosmed{
		padding-left: 130px;
	}
	
	.wrapper-slideshow{
		flex-direction: column;
/*		display: none!important;*/
	}
	
	.show-image {
    	width: 100%;
    	text-align: center;
	}
	
	.slideshow-container{
		width: 100%;
	}
	
	#sp-1080{
		display: none;
	}
	
	#pc{
		display: block!important;
	}
	
	#ct02 .image{
		height: 350px!important;
	}
	
	#ct01 .desc{
		font-size: 20px;
    	line-height: 30px;
	}

	#ct01 .title{
		font-size: 20px;
	}
	
	#ct01 img{
		width: 80px;
    	height: 80px;
	}
	
	.wrap-ct2{
		margin-top: 80px;
	}
	
	.content03{
		margin-top: 100px!important;
	}
	
	.img-display{
		width: 370px;
		height: 370px;
	}
	
	.name{
		font-size: 30px;
	}
	
	.name-ttl{
		font-size: 20px;
	}
	.desc-name{
		font-size: 21px;
		line-height: 30px;
	}
	.profile01, .profile02{
		margin-top: 20px;
	}
	
	.profile03, .profile04{
		margin-top: 200px;
	}
	.sosmed img{
		width: 60px;
		height: 60px;
	}
	.sosmed{
		padding-left: 110px;
	}
	
	#pc{
		width: 1170px;
	}
	
	.wrap-ct05{
		margin-top: 460px!important;
	}
	
	.footer-area01{
		margin-top: 50px;
	}
	
	.mySlides {
		padding: 92px 80px 65px 56px;
	}
	
	.location, .share, .about{
		float: none;
		margin-top: 35px;
		margin-left: 0;
		width: 100%;
	}
	
	.location{
		padding-top: 35px;
	}
	.footer-area01{
		height: 546px;
	}
	.footer-ct01{
		height: 450px;
	}
	#text-pc{
		display: none;
	}
	.ttl-head, .head-desc{
		font-size: 18px;
		line-height: 28px;
	}
	.footer-ct02{
		height: 104px;
	}
	.footer-ct02 img{
		width: 370px;
    	height: 46px;
		margin-top: 30px;
	}
	#sp-768{
		display: block;
	}
	.profile01 {
    	 margin-left: 30px; 
	}
	.sp-320{
		display: none;
	}
}

@media (max-width: 320px){
	#ct01 .box{
		width: 100%;
		margin-top: 500px;
	}
	#ct01 img {
    	width: 240px;
    	height: 240px;
	}
	#ct01 .title {
    	font-size: 45px;
	}
	.sp-320{
		display: block;
	}
	.pc-ttl{
		display: none;
	}
	#header .ttl {
		padding-top: 55px;
		letter-spacing: 15px;
	}
	#header .desc {
		font-size: 32px;
		letter-spacing: 5px;
	}
	#header .btn {
    	width: 400px;
		height: 80px;
	}
	#header .bottom {
    	height: 720px;
	}
	#header .btn p {
		font-size: 30px;
	}
	#ct01 .desc {
    	font-size: 40px;
    	line-height: 60px;
	}
	.mt0{
		margin-top: 100px!important;
	}
	.wrap-ct1 {
    	height: 3000px;
	}
	#ct02 .container {
    	width: 100%;
	}
	#ct02 .image {
    	height: 650px!important;
	}
	.wrap-ct3 {
    	height: 10350px;
	}
	.profile01, .profile02 {
		margin-top: 100px;
	}
	.profile01, .profile02, .profile03, .profile04 {
		width: 100%;
		text-align: center;
	}
	.img-display {
		width: 800px;
		height: 800px;
	}
	.name {
		font-size: 70px;
	}
	.profile02, .profile03, .profile04{
		margin-top: 950px;
	}
	.profile01{
		margin-top: 200px;
		margin-left: 0;
	}
	.name-ttl {
		font-size: 40px;
		margin-top: -30px;
	}
	.desc-name {
		font-size: 41px;
		line-height: 50px;
	}
	.sosmed img {
		width: 120px;
		height: 120px;
		margin-left: 15px;
	}
	.sosmed {
		padding-left: 185px;
	}
	q {
		font-size: 60px;
	}
	.author {
    	font-size: 35px;
		margin-top: 35px;
	}
	.dot{
		height: 30px;
    	width: 30px;
	}
	.wrap-ct4 {
		height: 850px;
	}
}









