@charset "utf-8";
/* CSS Document */

html {
	color: #000;
	background: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border:0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul {
	list-style: none
}

caption,th { 
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size:100% ;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}

input,textarea,select {
	*font-size: 100%
}

legend {
	color:#000
}

#yui3-css-stamp.cssreset {
	display:none
}

.header-wrap{
	width: 1900px;
	height: 750px;
	background-image: url("background.jpg");
}

.header{
	width: 1170px;
	height: 750px;
	margin: auto;
}

.gnav{
	width: 1170px;
	height: 100px;
}

.logo{
	padding-top: 35px;
	float: left;
}

.gnav-list a{
	float: right;
	font-size: 13px;
	font-weight: bold;
	margin-right: 55px;
	margin-top: 45px;
	color: #ffffff;
	text-decoration: none;
}

.gnav-list a:first-child{
	margin-right: 0;
}

.header-ct{
	text-align: center;
	color: #ffffff;
}

.ttl{
	font-size: 65px;
	margin-top: 155px;
}

.desc{
	font-size: 22px;
	margin-top: 45px;
	margin-bottom: 65px;
}

.btn{
	width: 200px;
	height: 46px;
	background-color: #e84545;
	margin: auto;
}

.btn p{
	padding-top: 15px;
}

.header-ct a{
	text-decoration: none;
	color: #ffffff;
}

.ct-area{
	width: 1900px;
	height: 3015px;
	background-color: #ffffff;
}

.content01{
	width: 1170px;
	height: 693px;
	margin: auto;
}

.content01 ul{
	width: 1170px;
	height: 230px;
}

.content01 ul:first-child{
	padding-top: 100px;
}

.content01 ul:last-child{
	margin-top: 50px;
}

.content01 li{
	text-align: center;
	float: left;
	margin-left: 95px;
}

.content01 img{
	margin-top: 40px;
}

.title{
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}

.desc-title{
	font-size: 14px;
	margin-top: 15px;
	line-height: 20px;
}

.content02{
	height: 700px;
}

.content02 img{
	float: left;
}

.content03{
	width: 1170px;
	height: 580px;
	margin: auto;
	margin-top: 100px;
}

.profile01, .profile02, .profile03, .profile04{
	width: 270px;
	height: 580px;
	margin-left: 30px;
	float: left;
}

.profile01{
	margin-left: 0;
}

.name{
	font-size: 22px;
	margin-top: 25px;
	color: #2d3033;
}

.name-ttl{
	font-size: 13px;
	color: #e84545;
	margin-top: 10px;
}

.desc-name{
	font-size: 16px;
	color: #6c7279;
	margin-top: 25px;
	line-height: 20px;
}

.sosmed{
	margin-top: 25px;
}

.sosmed a{
	float: left;
	margin-left: 5px;
}

.sosmed a:first-child{
	margin-left: 0;
}

.content04{
	width: 1900px;
	height: 500px;
	background-color: bisque;
	margin-top: 100px;
}

.content04 img{
	float: left;
}

.content05{
	width: 1900px;
	height: 340px;
	text-align: center;
}

.campaign-text{
	font-size: 28px;
	padding-top: 100px;
}

.campaign-desc{
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
}

.btn-sbm{
	width: 280px;
	height: 46px;
	background-color: #e84545;
	margin: auto;
	margin-top: 40px;
}

.content05 a{
	color: #ffffff;
	text-decoration: none;
}

.btn-sbm p{
	padding-top: 15px;
	
}

.footer-area01{
	width: 1900px;
	height: 250px;
	background-color: #3a3e64;
}

.footer-ct01{
	width: 1170px;
	height: 250px;
	margin: auto;
	text-align: center
}

.location, .share{
	width: 170px;
	height: 115px;
	float: left;
	margin-top: 60px;
}

.about{
	width: 370px;
	height: 115px;
	float: left;
	margin-top: 60px;
}

.location{
	margin-left: 100px;
}

.share{
	margin-left: 230px;
}

.about{
	margin-left: 130px;
}

.ttl-head{
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 10px;
}

.head-desc{
	font-size: 14px;
	color: #ffffff;
	margin-top: 15px;
	line-height: 20px;
}

.share img{
	margin-top: 15px;
}

.footer-ct02{
	width: 1900px;
	height: 94px;
	background-color: #313454;
	text-align: center;
}

.footer-ct02 img{
	margin-top: 25px;
}




